start
stop

In [82]:
from matplotlib import pyplot as plt
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
import pandas as pd
import importlib
import main
import time


importlib.reload(main)

fig = plt.figure()
ax = fig.add_subplot(111, projection = '3d')
line = ax.plot([], [], [], marker = 'x')[0]

trail = 30

ax.set_xlim([-16992.000000, 16992.000000])
ax.set_ylim([-16992.000000, 16992.000000])
ax.set_zlim([-16992.000000, 16992.000000])

def update(acc, gyr):
    
    acc = acc[-trail:, :]
    gyr = gyr[-trail:, :]
    
    line.set_data(acc[:, :2].T)
    line.set_3d_properties(acc[:, 2])


    fig.canvas.draw()
    fig.canvas.flush_events()

plt.show()

In [84]:
main.setup(40, update)

start
stop

In [35]:
acc, gyr = np.load("./acc.npy").T, np.load("./gyr.npy").T

In [50]:
df = pd.DataFrame(acc.T)
df.describe()

                  0             1             2
count    389.000000    389.000000    389.000000
mean    1446.056555    110.087404  14454.879177
std     3929.789623   3302.892135   8032.607949
min   -16992.000000  -8328.000000 -23348.000000
25%     -768.000000  -1856.000000  14032.000000
50%     1636.000000    620.000000  15108.000000
75%     2832.000000   1592.000000  15768.000000
max    27988.000000  23016.000000  32767.000000